.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  font-family: 'Pacifico', Verdana, cursive;
  font-weight: normal;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0px 3px 3px #30296f;
  transition: 0.3s ease;
}

.switcher-box {
  display: flex;
  align-items: baseline;
  margin-right: 36px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.mode {
  color: #ffffff;
  transition: 0.3s ease;
  display: contents;
}

.text-style {
  font-family: Roboto;
  font-size: 17pt;
}

.bm-burger-button {
  position: fixed;
  top: 2px;
   right: 120px;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 23px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: orange;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay*/
.bm-overlay {
  top: 0;
}
